@page
@model Bookstore.Pages.BuyBookModel
@{
}

<div class="jumbotron">
    <h1>Your basket</h1>
</div>

<table class="table table-bordered table-striped"></table>

<thead>
    <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Cost</th>
        <th>Subtotal</th>
    </tr>
</thead>

<tbody>
    <!--this basket is the instance of basket on line 18 of view model-->
    @foreach (var i in Model.basket.Items)
    {
        <tr>
            <!--see lines 23 and 34 of basket; we're filling in here'-->
            <td>@i.Book.Title</td>
            <td>@i.Quantity</td>
            <td>25</td>
            <td>@(i.Quantity * 25)</td>
        </tr>
    }
</tbody>

<tfoot>
    <tr>
        <td colspan="3">Total:</td>
        <td>@Model.basket.CalculateTotal().ToString("c")</td>
        <!--CalculateTotal from the instance of basket in Basket. ToString("c")formats as currency-->
    </tr>
</tfoot>

<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div> <!--getting ReturnUrl from the BuyBOok.cshtml.cs-->